<center>
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Считываем данные из CSV-файла в объект pandas DataFrame.

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [4]:
print(df[df['gender']==1]['height'].mean())
print(df[df['gender']==2]['height'].mean())

161.35561168460356
169.94789538210054

In [5]:
print(df[df['gender']==1]['gender'].count())
print(df[df['gender']==2]['gender'].count())

45530
24470

45530 женщин и 24470 мужчин

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [6]:
print((df[(df['gender']==1) & (df['alco']==1)]['gender'].count())/45530*100)
print((df[(df['gender']==2) & (df['alco']==1)]['gender'].count())/24470*100)

2.549967054689216
10.637515324887618

Женщины указывают реже

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [7]:
print((df[(df['gender']==1) & (df['smoke']==1)]['gender'].count())/45530*100)
print((df[(df['gender']==2) & (df['smoke']==1)]['gender'].count())/24470*100)

1.7856358444981333
21.88802615447487

In [8]:
print(round(21.88802615447487/1.7856358444981333))

12

Женщины курят в 12 раз меньше

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [71]:
print(18393/365)
print(18393/12)

50.391780821917806
1532.75

Следуя этим данным:возраст измеряется в днях

In [72]:
print((df[df['smoke']==0]['age'].median() - df[df['smoke']==1]['age'].median())/30)

19.9

Возраст отличается приблизительно на 20 месяцев.

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [73]:
df['age_years'] = round(df['age']/365)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [74]:
less = df[(df['ap_hi']<120) & (df['cholesterol']==1) & (df['age_years']>=60) & (df['age_years']<=64) & (df['smoke']==1) & (df['gender']==2)]
less.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
1951,21853,2,152,57.0,110,70,1,1,1,0,1,0,60.0
2415,23323,2,163,62.0,110,70,1,1,1,0,1,0,64.0
3082,22704,2,174,65.0,110,50,1,1,1,0,1,1,62.0
3112,21776,2,187,80.0,12,80,1,1,1,0,1,0,60.0
3262,22494,2,174,68.0,110,70,1,1,1,0,1,0,62.0

In [75]:
high = df[(df['ap_hi']>=160) & (df['ap_hi']<180) & (df['cholesterol']==3) & (df['age_years']>=60) & (df['age_years']<=64) & (df['smoke']==1) & (df['gender']==2)]
high.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
6382,21891,2,160,64.0,160,90,3,1,1,0,1,1,60.0
8972,22859,2,167,66.0,170,80,3,1,1,1,1,1,63.0
18870,21856,2,164,83.0,160,100,3,1,1,0,0,1,60.0
28497,21980,2,171,81.0,170,90,3,1,1,0,1,1,60.0
38592,22608,2,170,80.0,160,80,3,1,1,0,1,1,62.0

In [76]:
first = less[less['cardio']==1]['cardio'].count()/less['cardio'].count()
second = high[high['cardio']==1]['cardio'].count()/high['cardio'].count()
print(first,second)
print(round(second/first))

0.2564102564102564 0.8636363636363636
3.0

Доли больных людей отличаются в 3 раза

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [83]:
df['BMI'] = df['weight']/(df['height']/100)**2
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [84]:
print(df['BMI'].median())

26.374068120774975

In [85]:
print(df[df['gender']==1]['BMI'].mean())
print(df[df['gender']==2]['BMI'].mean())

27.98758344183312
26.754442357289474

In [86]:
print(df[df['cardio']==0]['BMI'].mean())
print(df[df['cardio']==1]['BMI'].mean())

26.54817520679475
28.566060627015435

In [87]:
print(df[(df['gender']==1) & (df['alco']==0) & (df['cardio']==0)]['BMI'].mean())
print(df[(df['gender']==2) & (df['alco']==0) & (df['cardio']==0)]['BMI'].mean())

26.845406594131518
25.872638075460173

Исследуя эти данные, можем сделать выводы, что:
    1)Медианный BMI по выборке превышает норму;
    2)У женщин в среднем BMI выше, чем у мужчин;
    3)У здоровых в среднем BMI ниже, чем у больных;
    4)В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

Значит правильными есть утверждения 1 и 4

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [9]:
tmp = df
print(tmp['age'].count())
tmp = tmp[tmp['ap_lo']<=tmp['ap_hi']]
print(tmp['age'].count())

70000
68766

In [10]:
tmp = tmp[(tmp['height']>=tmp['height'].quantile(0.025)) & (tmp['height']<=tmp['height'].quantile(0.975))]
print(tmp['age'].count())

65859

In [11]:
tmp = tmp[(tmp['weight']>=tmp['weight'].quantile(0.025)) & (tmp['weight']<=tmp['weight'].quantile(0.975))]
print(tmp['age'].count())

62784

In [13]:
print(100-round(62784*100/70000))

10

Мы выбросили 10%.